N8N/workflows/insert-agent-endpoint.json
{
  "name": "INSERT AGENT Endpoint",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insert_agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "fb26a542-b0e5-49a5-adfc-b22e6b39649f",
      "name": "Webhook-Insert_agents",
      "webhookId": "409984ae-f193-4435-83d1-6babf5f9c2c1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": "agents",
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [440, 300],
      "id": "47c0e842-4a01-4565-a1f3-e0ab8858d754",
      "name": "Get_insert_agents"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": "cad_projects",
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [640, 300],
      "id": "c8763295-d753-4721-95dc-f39544d8e6e8",
      "name": "Get_project-insert"
    },
    {
      "parameters": {
        "jsCode": "const GITHUB_RAW_BASE = 'https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/N8N/code';\n\n// 1. BUSCAR CÓDIGO DO GITHUB (externo)\nconst code = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${GITHUB_RAW_BASE}/processors/agent-data-mapper-simple-schema.js`,\n  returnFullResponse: false\n});\n\n// 2. EXECUTAR CÓDIGO\neval(code);\n\n// 3. BUSCAR DADOS PRÉ-CARREGADOS DOS NODES ANTERIORES\nconst allAgents = $('Get_insert_agents').all().map(item => item.json);\nconst allProjects = $('Get_project-insert').all().map(item => item.json);\n\n// 4. PROCESSAR WEBHOOK DATA (buscar direto do Webhook node!)\nconst webhookNode = $('Webhook-Insert_agents').first().json;\nconst webhookData = webhookNode.body || webhookNode;\n\nconsole.log('[DEBUG] Webhook data:', JSON.stringify(webhookData));\nconsole.log('[DEBUG] All agents count:', allAgents.length);\nconsole.log('[DEBUG] All projects count:', allProjects.length);\n\n// 5. MAPEAR DADOS\nconst mappedData = mapAgentData(webhookData, allAgents, allProjects);\n\n// 6. LOG E RETORNO\nconsole.log('[INSERT_AGENT] Success:', mappedData.agent_id);\nreturn { json: mappedData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "id": "559cbc72-c0f8-40f5-98fd-ead09a6d3e95",
      "name": "Code-insert-agent"
    },
    {
      "parameters": {
        "dataTableId": "agents",
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [1040, 300],
      "id": "962a1f08-e534-4c78-91bd-2c48adb75ebd",
      "name": "Insert-Agents"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1240, 300],
      "id": "e1891fe5-70ac-4335-975d-fb99129f3453",
      "name": "Respond-to-Webhook"
    }
  ],
  "connections": {
    "Webhook-Insert_agents": {
      "main": [[{"node": "Get_insert_agents", "type": "main", "index": 0}]]
    },
    "Get_insert_agents": {
      "main": [[{"node": "Get_project-insert", "type": "main", "index": 0}]]
    },
    "Get_project-insert": {
      "main": [[{"node": "Code-insert-agent", "type": "main", "index": 0}]]
    },
    "Code-insert-agent": {
      "main": [[{"node": "Insert-Agents", "type": "main", "index": 0}]]
    },
    "Insert-Agents": {
      "main": [[{"node": "Respond-to-Webhook", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "uptax-meta-agent"
  },
  "tags": [
    {"name": "data-tables", "id": "data-tables"},
    {"name": "insert-agent", "id": "insert-agent"}
  ],
  "versionId": "1.0.0"
}
