workflows/ai-research-agent-workflow.json
{
  "name": "AI Research Agent - GitHub Powered",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/ai-research-agent",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-ai-agent",
      "name": "Webhook AI Agent",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        400
      ],
      "webhookId": "ai-research-agent-webhook"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/N8N/agents/ai-research-agent/config.json",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "load-agent-config",
      "name": "Load Agent Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/N8N/agents/ai-research-agent/prompts.json",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "load-agent-prompts",
      "name": "Load Agent Prompts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/N8N/code/processors/ai-agent-handler.js",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "load-ai-handler",
      "name": "Load AI Handler Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const githubConfig = $('Load Agent Config').item.json.body || $('Load Agent Config').item.json; const githubPrompts = $('Load Agent Prompts').item.json.body || $('Load Agent Prompts').item.json; const githubCode = $('Load AI Handler Code').item.json.data; const inputData = $('Webhook AI Agent').item.json.body; const executeFunction = new Function('inputData', 'githubConfig', 'githubPrompts', 'console', githubCode); return executeFunction(inputData, githubConfig, githubPrompts, console);"
      },
      "id": "ai-agent-processor",
      "name": "AI Agent Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "id": "respond-ai-agent",
      "name": "Respond AI Agent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -200,
        400
      ]
    }
  ],
  "connections": {
    "Webhook AI Agent": {
      "main": [
        [
          {
            "node": "Load Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Agent Config": {
      "main": [
        [
          {
            "node": "Load Agent Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Agent Prompts": {
      "main": [
        [
          {
            "node": "Load AI Handler Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load AI Handler Code": {
      "main": [
        [
          {
            "node": "AI Agent Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Processor": {
      "main": [
        [
          {
            "node": "Respond AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "ai-research-agent-v1",
    "templateVersion": "1.0.0",
    "description": "AI Research Agent with GitHub dynamic loading for configs, prompts and code"
  },
  "pinData": {},
  "active": false
}