workflows/workflow-work_1002-v2.0.json
{
  "meta": {
    "instanceId": "work_1002_v2.0"
  },
  "nodes": [
    {
      "parameters": {
        "path": "work_1002_v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_trigger_work1002",
      "name": "Webhook Trigger work_1002",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ PRE-OBSERVABILITY v2.0 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/observability/pre-observability-v2.0.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "pre_observability_v2",
      "name": "Pre-Observability v2.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ CSV LOADER v2.6 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/core/csv-loader-v2.6.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "csv_loader_v26",
      "name": "CSV Loader v2.6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ POST-LOAD OBSERVABILITY v2.0 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/observability/post-load-observability-v2.0.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "post_load_observability_v2",
      "name": "Post-Load Observability v2.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ PREPARE AGENT v2.6 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/core/prepare-agent-v2.6.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "prepare_agent_v26",
      "name": "Prepare Agent v2.6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ PRE-LLM OBSERVABILITY v2.0 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/observability/pre-llm-observability-v2.0.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "pre_llm_observability_v2",
      "name": "Pre-LLM Observability v2.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ OPTIMIZATION ENGINE v2.0 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/optimization/optimization-engine-v2.0.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "optimization_engine_v2",
      "name": "Optimization Engine v2.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.mcp_endpoint_http }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.agent_context.system_message }}"
            },
            {
              "name": "message",
              "value": "={{ $json.agent_context.text }}"
            },
            {
              "name": "session_id",
              "value": "={{ $json.agent_context.session_id }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "ai_agent_execution",
      "name": "AI Agent Execution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ POST-LLM OBSERVABILITY v2.0 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/observability/post-llm-observability-v2.0.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "post_llm_observability_v2",
      "name": "Post-LLM Observability v2.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "// ✅ RESPONSE FORMATTER v2.0 - work_1002\n// Carregado do GitHub\nconst response = await fetch('https://raw.githubusercontent.com/Uptax-creator/N8N-Research-Agents/clean-deployment/components/core/response-formatter-v2.0.js');\nconst componentCode = await response.text();\n\n// Executar código do componente\neval(componentCode);"
      },
      "id": "response_formatter_v2",
      "name": "Response Formatter v2.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {},
      "id": "respond_to_webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Webhook Trigger work_1002": {
      "main": [
        [
          {
            "node": "Pre-Observability v2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Observability v2.0": {
      "main": [
        [
          {
            "node": "CSV Loader v2.6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Loader v2.6": {
      "main": [
        [
          {
            "node": "Post-Load Observability v2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Load Observability v2.0": {
      "main": [
        [
          {
            "node": "Prepare Agent v2.6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Agent v2.6": {
      "main": [
        [
          {
            "node": "Pre-LLM Observability v2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-LLM Observability v2.0": {
      "main": [
        [
          {
            "node": "Optimization Engine v2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimization Engine v2.0": {
      "main": [
        [
          {
            "node": "AI Agent Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Execution": {
      "main": [
        [
          {
            "node": "Post-LLM Observability v2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-LLM Observability v2.0": {
      "main": [
        [
          {
            "node": "Response Formatter v2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Formatter v2.0": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-01T16:40:00.000Z",
      "updatedAt": "2025-10-01T16:40:00.000Z",
      "id": "work_1002_v2",
      "name": "work_1002_v2.0"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T16:40:00.000Z",
  "versionId": "v2.0"
}